.game{
 width: 550px;
 height: 600px;
 background-image: url('/img/tamagotchi.png');
 margin: 15px auto;
}
.wrapper{
    width: 1000px;
    text-align: center;
}
.game img{
    margin: 255px 48px 0px 0px;
    width: 200px;
    height: 200px;
}
h2{
    display: inline-block;
    color: hotpink;
    margin-right: 20px;
}
span{
    color: black;
}
.statbar{
    text-align: center;
    margin: 0px auto;
    width: 620px;
}
.buttons{
    text-align: center;
    margin: 30px auto;
    width: 690px;
}
form{
    display: inline-block;
    margin: 0px 15px;
}
input{
    color: hotpink;
    width: 100px;
}